---
import Container from "@components/container.astro";
import HeadingTitle from "@components/ui/heading-title.astro";
import { FOOTER_LINKS } from "@constants/app";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import imageFootline from "assets/footline.png";
import imageLogoReverse from "assets/logo-reverse.png";
import image40Years from "assets/40years.png";
import { Image } from "astro:assets";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<footer class="bg-secondary pt-7 md:pt-10">
  <Container class="text-center text-white">
    <HeadingTitle title={t("footer.title")} />
    <div
      class="flex flex-col items-center justify-center gap-7 py-10 md:flex-row md:gap-10"
    >
      <div>
        <Image src={imageLogoReverse} alt="AEAS" class="h-8 w-auto" />
      </div>
      <div>
        <Image
          src={image40Years}
          alt="40 years of quality international student assessments"
          class="h-10 w-auto"
        />
      </div>
    </div>
    <div class="flex flex-col justify-center gap-x-7 gap-y-5 md:flex-row">
      {
        FOOTER_LINKS.map((item) => (
          <>
            <a href={item.url} class="text-body-dark" target="_BLANK">
              <div class="flex items-center gap-3">
                <item.icon class="mt-[-1.5px] h-7 w-7 text-white" />
                <div class="cursor-pointer">{item.title}</div>
              </div>
            </a>
          </>
        ))
      }
    </div>
  </Container>
  <Image src={imageFootline} alt="AEAS Australia" class="w-full" />
</footer>
